<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

  <application>
    <service
      android:name="expo.modules.focusblocknative.FocusBlockVpnService"
      android:permission="android.permission.BIND_VPN_SERVICE"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <intent-filter>
        <action android:name="android.net.VpnService" />
      </intent-filter>
    </service>
  </application>

</manifest>
